@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: white;
}

li, a, button {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 10px rgb(175,175,175);
  align-items: center;
}

.logo {
  width:90px;
  height: 90px;
  top: 50px;
  margin: 0.5%;
  margin-left: 3%;
  background-image: linear-gradient(to right, #51c2d5, #ae3d2a);
  color: #170514;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.dark_mode { filter: invert(100%) }


.nav_links {
  padding: 30px;
  list-style-type: none;
}

ul.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

ul.nav_links li a:not(.active) {
  display: block;
  color: black;
  font-size: 1.1em;
  transition: all 0.3s ease 0s;
}

.active {
  font-size: 1.1em;
  color: red;
}

.nav_links li a:not(.active):not(.about):hover {
  -webkit-text-decoration: underline dotted 2px;
  text-decoration: underline dotted 2px;
  color: rgba(145,20,20,0.9)
}

.about {
  margin-right: 2%;
  padding: 9px 25px;
  font-size: 1.2em;
  background-color: rgb(70, 188, 255);
  border-radius: 80px;
  border: none;
  cursor: pointer;
  color:black;
  transition: all 0.1s ease 0s;
  text-decoration: none;
}

.about:hover {
  background-color: rgba(70, 188, 255,0.7);
}

main, footer {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.outer {
  padding: 6px 0px 6px 45px;
  font-size: 16px;
}
.outer li {
  line-height: 1.5em;
  padding: 6px;
}

.outer h1, h2, h3, h4 {
  padding: 10px 0px 10px 0px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: rgb(235,235,235);
  padding: 50px;
}
footer > *:not(.license) {
  cursor: pointer;
}
footer .border_i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 32px;
  margin: 6px 12px;
  padding: 12px;
  transition: 0.3 all ease-in;
}
footer .border_i:hover {
  box-shadow: 0px 0px 5px rgba(165,165,165, 0.8);
}
footer .border_i:first-child:hover {
  color:rgb(255, 51, 0);
}
footer .border_i:nth-child(2):hover {
  color: green;
}
footer .border_i:last-child:hover {
  background-image: linear-gradient(red, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
footer ul {
  list-style: none;
  padding: 26px 0px;
  text-decoration: none;
}
footer ul li {
  padding: 0px 16px;
  display: inline;
  transition: 0.3s all ease;
}
footer ul li a {
  color: rgb(15,75,160);
}
footer ul li a:visited{
  color: rgb(15,75,120)
}

footer ul li a:hover {
  color: dodgerblue;
}

footer .license {
  padding: 20px 0px;
  color: gray;
  font-size: 14px;
}
