@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topic_nav_links {
  list-style: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #0f0f0f;
  box-shadow: 0px 2px 15px rgb(150,150,150);
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  align-items: center;
  transition: 0.3 all ease;
}
.topic_nav_links li a:not(.back_tips):not(.active_top) {
  text-decoration: none;
  color: white; /*rgb(240, 207, 158);*/
  display: inline-block;
  padding: 5px;
}
.topic_nav_links li a:not(.back_tips):not(.active_top):hover {
  color: rgb(240, 207, 158);
}

.logo {
  cursor: pointer;
  max-width:2.25%;
  filter: invert(1);
}
.back_tips {
  padding: 5px 13px;
  text-decoration: none;
  border: 2px solid #5d3826 /*#c5a880*/;
  border-radius: 80px;
  background-color: #5d3826;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgb(240, 207, 158);
}
.back_tips:hover {
  color: rgb(240, 207, 158);
  background-color: black;
}
.active_top {
  text-decoration: none;
  color: rgb(240, 207, 158);
}
.chapter_nav_links {
  margin-top: 50px;
  width: 16%;
  height: 100%;
  position: fixed;
  list-style-type: none;
  background-color: #e6e6e6;
  overflow: auto;
}
.current_topic {
  font-size: 22px;
  margin: 10px 0px;
}
.chapter_nav_links li {
  display: block;
  text-align: center;
}

.chapter_nav_links li a button:not(.active_chap) {
  padding: 5px 10px;
  border: none;
  color: black;
  width:100%;
  height:auto;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  background-color: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.active_chap {
  padding: 5px 10px;
  border: none;
  color: black;
  width:100%;
  height:auto;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  background-color: rgb(240, 207, 158);
  white-space: normal;
  word-wrap: break-word;
}

.chapter_nav_links button:not(.active_chap):hover {
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
  background-color: rgba(177, 168, 128, 0.3); /*rgb(195,195,195)*/
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.main_content {
  background-color: white;
  min-width: 70%;
  float: right;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 70px;
  margin-left: 19%;
  margin-right: 11%;
  margin-bottom: 10%;
}

.outer h1, h2, h3, h4 {
  padding: 10px 0px 10px 0px;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}
.outer {
  padding: 6px 0px 6px 45px;
  font-size: 16px;
}
.outer li {
  line-height: 1.5em;
  padding: 6px;
}
.outer li ul, .outer li ol {
  padding: 10px 35px;
  line-height: 1.5em;
}
.outer li ul li, .outer li ol li {
  padding: 6px;
}
.main_content p {
  padding: 20px 0px 5px 0px;
}
.outer p {
  padding-left: 20px;
}
.top_img {
  max-width: 40%;
  height: auto;
  padding: 10px 45px;
}
.equation {
  padding: 10px 25px;
  font-style: italic;
}
table {
    padding: 20px 0px 20px 15px;
    width: 100%;
    height: auto;
    font-size: 15px;
    margin-left: 1.5%;
  }
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
th, td {
  text-align: center;
  padding: 15px 2px;
  }
th {
  font-weight: 500;
  background-color: tomato;
  }
td {
  font-weight: 400;
}
